.survey-box-div {
    display: inline-block;
    background-color: #faf397; 
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; 
}

.survey-box-div:hover {
    transform: translateY(-5px); 
}

.arrow {    
    right: 10px;   
    opacity: 0; /* Initially hide the arrow */
    transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
}

.survey-section:hover .arrow {
    opacity: 1;
}


.outline-draw {
    margin-bottom: 8px;
    display: inline-block;
    width: 75px;
    height: 75px;
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.checkmark_circle {
    position: absolute;
    width: 75px;
    height: 75px;    
    background-color: green;
    border-radius: 50%;
    left: 0;
    top: 0;
}
  
.checkmark_stem {
    position: absolute;
    width: 9px;
    height: 45px;
    background-color: #fff;
    left: 38px;
    top: 10px;
}
  
.checkmark_kick {
    position: absolute;
    width: 15px;
    height: 11px;
    background-color: #fff;
    left: 24px;
    top: 44px;
}

.crossmark_circle {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: red; 
    border-radius: 50%;
    left: 0;
    top: 0;
}
  
.crossmark_line {
    position: absolute;
    width: 9px;
    height: 45px;
    background-color: #fff;
    left: 33px; 
    top: 15px; 
}
  
  .crossmark_line::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 45px;
    background-color: #fff;
    transform: rotate(90deg);
}

.ended-text{
    font-weight: bold;
}