.survey-box-div {
    display: inline-block;
    background-color: #faf397; 
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; 
}

.survey-box-div:hover {
    transform: translateY(-5px); 
}

.arrow {    
    right: 10px;   
    opacity: 0; /* Initially hide the arrow */
    transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
}

.survey-section:hover .arrow {
    opacity: 1;
}

.tick-body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: green;
}

.circle {
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tick {
    width: 25px;
    height: 25px;
    background-color: green;
    clip-path: polygon(0% 50%, 40% 100%, 100% 0%);
  }